body{
	font-family: Arial;
	background-color: #FADADD;
	margin: 20px;
}

h2{
	color: black;
	text-align: left;
}

h3,h4{
	color: gray;
}

table{
	width: 100%;
	border-collapse: border;
	margin-bottom: 10px;
	background-color: #FFF5E1;
}

.table1 {
	width: 60%;
	border-collapse: border;
	margin-bottom: 10px;
	background-color: #FFF5E1;
}

img{
	overflow: hidden;
	border-radius: 5px;
	display: block;
	object-fit: cover;
	align-items: center;
	justify-content: center;
}

.table2 {
	width: 22%;
	border-collapse: border;
	margin-bottom: 10px;
	background-color: #FFF5E1;
}

th{
	background-color: #FBE4B5;
}

td, th{
	padding: 5px;
}

.like{
	background-color: #FFF5E1;
	padding: 5px;
	width:100%
}

.skill{
	background-color: #FFF5E1;
	padding: 5px;
	width:100%
}

.alo{
	background-color: #FFF5E1;
	padding: 5px;
	width:100%
}