*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin:2px;
    padding: 7px;
    background-color: rgb(212, 200, 239);
}

.container{
    background-color: black;
    padding:1px;
    margin:10%;
    margin-left:26%;
    margin-right:26%;
    text-align:right;
}

h2.tittle{
    font-size: 130%;
    text-align: center;
    padding: 17px;
    background-color:rgb(249, 168, 168);
}

.button{
    background-color: rgb(108, 125, 148);
    color:azure;
    font-weight: bolder;
    padding:7px;
    border-radius:5px;
    margin: 10px;
    font-size: 17px;
}

form#frmLogin{
    background-color: aquamarine;
}

label{
    background-color: bisque;
    padding: 7px;
}

.form-grouptext{
    text-align: left;
    padding-bottom: 20px;
    padding-top: 25px;
    background-color: rgb(244, 176, 151);
}

.form-grouppassword{
    text-align: left;
    padding-bottom: 25px;
    padding-top: 20px;
    background-color:rgb(255, 251, 0);
}

.form-control{
    text-align: center;
}
